


html{font-family: "Noto Sans", sans-serif; align-items: center; justify-content: center; 
  display: flex;  height: 100vh; margin: 0;}
body{margin:0; font-weight:400; overflow: hidden;}
.hover-container {
  position: relative;
  display: inline-block;
  padding: 10px;
  background-color: lightgray;
  cursor: pointer;
}



.right-section::-webkit-scrollbar {
  width: 0; /* 스크롤바의 너비를 0으로 설정하여 숨김 */
}
.right-section{ position:relative; padding: 25px; height:700px;
     background: rgba(255, 245, 0, 1);
  width: 30%;  
}
.scroll-content {  overflow-y: auto; height:700px;
  margin: 0;  -ms-overflow-style: none;  /* Internet Explorer 및 Edge 브라우저에서 스크롤바 숨김 */
  scrollbar-width: none; /* Firefox에서 스크롤바 숨김 */}
.scroll-check {position: absolute; bottom:0px; left:0px; 
  width:100%; height:130px; 
  background:linear-gradient(to top, rgba(255, 245, 0, 1)10%, rgba(255, 245, 0, 0) 100%); 
 z-index: 20;}
.text-container { margin-bottom: 150px;
 
  word-break:keep-all;
  
 

}


.line{
  height: 60px;
  border-bottom: 1px solid black;
  line-height: 95px;
}
.number{
  font-size: 18px;
  width: 200px;
 
}
.song-title{
  width: 100%;
  position: absolute;
  left: 200px;
  font-size: 15px;
}
.clickable-div { position: relative;
}

.clickable-div:hover {
  background: linear-gradient(to top, rgba(255, 245, 0, 8.0), rgba(255, 245, 0, 0.1) 50%, rgba(255, 245, 0, 0) 70%); 
}

.hover-image {
  display: none; /* 기본적으로 이미지를 숨김 */
  position: absolute; /* 부모 div 기준으로 절대 위치 */
  top: 0px; /* 부모 div의 상단에 겹침 */
  right: 0px;
  transform: translateX(-50%);
  width: 280px;
  z-index: 10;
}

.clickable-div:hover .hover-image {
  display: block; /* 호버 시 이미지를 표시 */
}

